@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
	color: #333;
	font-family: "Open Sans", sans-serif;
	line-height: 1.5;
	max-width: 1100px;
	margin: auto;
	padding: 1em 5em;
}

.container {
	display: flex;
	gap: 3rem;
	align-items: flex-start;
}

.main-content {
	flex: 1;
	max-width: 650px;
}

.sidebar {
	width: 280px;
	flex-shrink: 0;
	margin-top: 13rem;
}

#profile_pic {
	float: right;
	width: 162px;
}

@media (max-width: 900px) {
	body {
		padding: 1em;
		max-width: 720px;
	}
	
	.container {
		flex-direction: column;
	}
	
	.main-content {
		max-width: 100%;
	}
	
	.sidebar {
		display: none;
	}
	
	#profile_pic {
		width: 115px;
	}
}

h1, h2 {
	color: #000;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Cambria, Georgia, serif;
	font-weight: normal;
}

h1 {
	font-size: 3rem;
	margin-top: 2.0rem;
	margin-bottom: 1.0rem;
	line-height: 1.0;
}

h2 {
	font-size: 2rem;
	margin-top: 3rem;
	margin-bottom: 0.5rem;
}

h3 {
	font-weight: normal;
	margin-bottom: 4.5rem;
}

th {
	padding: 0 1rem;
	text-align: right;
	font-weight: 600;
	white-space: nowrap;
	vertical-align: top;
}

li {
	margin: 1rem 0;
}

a {
	color: green;
	text-decoration: none;
	/* border-bottom: solid 1px; */
}

a:active, a:focus, a:hover {
	border-bottom: solid 2px;
}

a:visited {
	color: green;
}

u {
	text-decoration: none;
	border-bottom: 1px solid black;
}

b {
	font-weight: 600;
}

.sidebar h2 {
	font-size: 1.5rem;
	margin-top: 0;
	margin-bottom: 1rem;
}

.coauthors {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.coauthor {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.coauthor a {
	font-weight: 500;
	font-size: 0.9rem;
	display: block;
	margin-bottom: 0.15rem;
}

.coauthor span {
	font-size: 0.75rem;
	color: #666;
	line-height: 1.2;
}

footer {
	margin-top: 3rem;
	color: #888;
	font-size: 0.9rem;
	text-align: center;
}

